body {
    background-color: pink;
    font-family: sans-serif;
    padding: 10px;
    
  }
  .centre {
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    
  }
  h1, h2, h3, p, img, footer {
    text-align: center;
    
  }
  hr {
    padding-left: -50px ;
    padding-right: -50px;
    width: 100% ;
    height: 2px;
    background-color: rgb(255, 142, 142) ;
    border-color: rgb(255, 142, 142) ;
    margin-bottom: .8cm;
  }
  #image {  
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
    padding: 5px;  
    }  
